<link rel="stylesheet" href="./search/search.css"></link>
<div class="container">
	<div class="row text-center page-header">
		<div class="col-md-12">
			<h1>Find an Item</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="search">
					<input type="text" class="form-control" id="search-bar"
						data-ng-model="vm.searchString" placeholder="Search for an item..."
						autocomplete="off">
						
					<button class="search-button" type="submit"><span class="fa fa-search"></span></button>
			  </div>
			  <br>
			  <br>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="well text-center" data-ng-show="vm.items.length == 0">
				<h2>No Items Available</h2>
				<h4>Get out there and start lending!</h4>
			</div>
			<div class="list-group">
					<div class="list-group-item"
						data-ng-repeat="item in vm.items | searchFor:vm.searchString"
						data-ng-click="vm.goToItemPage(item.ItemId)">
							<div class="row">
								<div class="col-xs-2">
									<img class="img img-responsive img-thumbnail item-image" data-ng-src="{{item.image}}" />
								</div>
								<div class="col-xs-8">
									<h3>{{item.title}}</h3>
									<h4>{{item.description | limitTo:55}}{{item.description.length>55 ? '...' : ''}}</h4>
								</div>
							</div>	
								
					</div>
			</div>
		</div>
	</div>
</div>


