<link rel="stylesheet" href="./requests/requests.css">
<div class="container">
	<div class="row text-center">
		<h1>Requests</h1>
	</div>
	
	<div class="alert text-center" data-ng-class="vm.error ? 'alert-danger' : 'alert-success' " role="alert" data-ng-show="vm.showAlert">{{vm.alertMessage}}</div>
	
	<br data-ng-show="!vm.showAlert">
	<br data-ng-show="!vm.showAlert">
	<br data-ng-show="!vm.showAlert">
	
	<div>
	
	  <ul class="nav nav-tabs" role="tablist">
	    <li role="presentation" class="active"><a href="#borrowRequests" target="_self" role="tab" data-toggle="tab">My Requests | <span class="badge">{{vm.borrowRequests.length}}</span></a></li>
	    <li role="presentation"><a href="#lendRequests" target="_self" role="tab" data-toggle="tab">Requests for Me | <span class="badge">{{vm.lendRequests.length}}</span></a></li>
	    <li role="presentation"><a href="#borrowing" target="_self" role="tab" data-toggle="tab">Borrowing | <span class="badge">{{vm.currentlyBorrowedItems.length}}</span></a></li>
	    <li role="presentation"><a href="#lending" target="_self" role="tab" data-toggle="tab">Lending | <span class="badge">{{vm.currentlyLentItems.length}}</span></a></li>
	  </ul>
	
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="borrowRequests">
	    	<div class="row">
	    		<div class="col-xs-10 col-xs-offset-1">
	    			<div class="well text-center" data-ng-show="vm.borrowRequests.length == 0">
	    				<h2>Nothing Here :(</h2>
	    				<h4>Go borrow some items!</h4>
	    			</div>
	    		
			    	<div class="list-group">
						<div class="list-group-item"
							data-ng-repeat="request in vm.borrowRequests"
							data-ng-click="vm.goToItemPage(request.ItemId)">
								<div class="row">
									<div class="col-xs-2">
										<img class="img img-responsive img-thumbnail item-image" data-ng-src="{{request.itemImage}}" />
									</div>
									<div class="col-xs-10">
										<div class="row">
											<div class="col-xs-8">
												<h4>{{request.itemTitle}}</h4>
											</div>
											<div class="col-xs-4">
												<h4 class="pull-right"><small data-ng-class="request.itemAvailable ? 'text-success' : 'text-danger'">{{request.itemAvailable ? 'Available' : 'Unavailable'}} </small>
													<small>|</small>
													<small data-ng-class="request.requestApproved ? 'text-success' : 'text-warning' ">
														Request {{request.requestApproved ? 'Approved' : 'Pending'}}
													</small>
												</h4>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-4 text-center">
												<p class="pull-left">Owner: <a class="user-link" data-ng-click="vm.goToUserPage(request.ownerUser, $event)">{{request.ownerUser}}</a></p>
											</div>
											<div class="col-xs-4 text-center">
												<p data-ng-show="request.requestApproved">Contact Info: <small>{{request.ownerEmail}}</small></p>
											</div>
											<div class="col-xs-4 text-center">
												<button class="btn btn-success btn-sm pull-right" data-ng-show="request.itemAvailable && request.requestApproved" data-ng-click="vm.markReceived(request, $event)">Item Received</button>
											</div>
										</div>
									</div>
								</div>	
									
						</div>
					</div>
				</div>
			</div>
	    </div>
	    
	    <div role="tabpanel" class="tab-pane" id="lendRequests">
	    	<div class="row">
	    		<div class="col-xs-10 col-xs-offset-1">
		    		<div class="well text-center" data-ng-show="vm.lendRequests.length == 0">
		    			<h2>Nothing Here :(</h2>
		    			<h4>Nobody wants your garbage!</h4>
		    		</div>
			    	<div class="list-group">
						<div class="list-group-item"
							data-ng-repeat="request in vm.lendRequests"
							data-ng-click="vm.goToItemPage(request.ItemId)">
								<div class="row">
									<div class="col-xs-2">
										<img class="img img-responsive img-thumbnail item-image" data-ng-src="{{request.itemImage}}" />
									</div>
									<div class="col-xs-10">
										<div class="row">
											<div class="col-xs-8">
												<h4>{{request.itemTitle}} <small data-ng-class="request.itemAvailable ? 'text-success' : 'text-danger'">{{request.itemAvailable ? 'Available' : 'Unavailable'}}</small></h4>
											</div>
											<div class="col-xs-4">
												<button class="pull-right btn btn-sm" data-ng-click="vm.approve(request, $event)" data-ng-class="request.requestApproved ? 'btn-readonly' : 'btn-success' " title="Approve the request and exchange contact info with the requester!">
													{{request.requestApproved ? 'Accepted' : 'Accept'}} <i class="fa fa-check text-success" data-ng-show="request.requestApproved"></i>
												</button>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-4">
												<p> Requested By: <a class="user-link" data-ng-click="vm.goToUserPage(request.requester, $event)">{{request.requester}}</a></p>
											</div>
											<div class="col-xs-4">
												<p class="" data-ng-show="request.requestApproved">Contact Info: <small>{{request.requesterEmail}}</small></p>
											</div>
											<div class="col-xs-4">
												
											</div>
										</div>
									</div>
								</div>	
									
						</div>
					</div>
				</div>
			</div>
	    </div>
	    
	    <div role="tabpanel" class="tab-pane" id="borrowing">
	    	<div class="row">
	    		<div class="col-xs-10 col-xs-offset-1">
	    			<div class="well text-center" data-ng-show="vm.currentlyBorrowedItems.length == 0">
		    			<h2>Nothing Here :(</h2>
		    			<h4>You're not borrowing anything!</h4>
		    		</div>
			    	<div class="list-group">
						<div class="list-group-item"
							data-ng-repeat="request in vm.currentlyBorrowedItems"
							data-ng-click="vm.goToItemPage(request.ItemId)">
								<div class="row">
									<div class="col-xs-2">
										<img class="img img-responsive img-thumbnail item-image" data-ng-src="{{request.itemImage}}" />
									</div>
									<div class="col-xs-10">
										<div class="row">
											<div class="col-xs-8">
												<h4>{{request.itemTitle}} <small class="text-info">{{vm.getDeltaTime(request.borrowStartTime) | millSecondsToTimeString }}</small></h4>
											</div>
											<div class="col-xs-4">
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-4">
												<p> Owned By: <a class="user-link" data-ng-click="vm.goToUserPage(request.ownerUser, $event)">{{request.ownerUser}}</a></p>
											</div>
											<div class="col-xs-4">
												<p class="">Contact Info: <small>{{request.ownerEmail}}</small></p>
											</div>
											<div class="col-xs-4">
												
											</div>
										</div>
									</div>
								</div>	
									
						</div>
					</div>
				</div>
			</div>
	    </div>
	    
	    <div role="tabpanel" class="tab-pane" id="lending">
	    	<div class="row">
	    		<div class="col-xs-10 col-xs-offset-1">
	    			<div class="well text-center" data-ng-show="vm.currentlyLentItems.length == 0">
		    			<h2>Nothing Here :(</h2>
		    			<h4>Nobody's borrowing anything from you!</h4>
		    		</div>
			    	<div class="list-group">
						<div class="list-group-item"
							data-ng-repeat="request in vm.currentlyLentItems"
							data-ng-click="vm.goToItemPage(request.ItemId)">
								<div class="row">
									<div class="col-xs-2">
										<img class="img img-responsive img-thumbnail item-image" data-ng-src="{{request.itemImage}}" />
									</div>
									<div class="col-xs-10">
										<div class="row">
											<div class="col-xs-8">
												<h4>{{request.itemTitle}} <small class="text-info">{{vm.getDeltaTime(request.borrowStartTime) | millSecondsToTimeString }}</small></h4>
											</div>
											<div class="col-xs-4">
												<button class="pull-right btn btn-success btn-sm" data-ng-click="vm.markReturned(request, $event)" title="Click this when the item is returned.">Item Returned</button>
											</div>
										</div>
										
										<div class="row">
											<div class="col-xs-4">
												<p> Borrowed By: <a class="user-link" data-ng-click="vm.goToUserPage(request.requester, $event)">{{request.requester}}</a></p>
											</div>
											<div class="col-xs-4">
												<p class="">Contact Info: <small>{{request.requesterEmail}}</small></p>
											</div>
											<div class="col-xs-4">
												
											</div>
										</div>
									</div>
								</div>	
									
						</div>
					</div>
				</div>
			</div>
	    </div>
	  </div>

</div>
</div>