<link rel="stylesheet" href="./item/new-item/new-item.css">
<div class="container">
	<div class="row">
		<h1>New Item</h1>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<form>
			<div class="row">
				<div class="col-md-6">
					  <div class="form-group">
					    <label for="item-name">Item Name</label>
					    <input type="text" class="form-control" id="item-name" data-ng-model="vm.newItem.title" placeholder="Think of a descriptive name for your item..." required>
					  </div>
					  <div class="form-group">
					    <label for="item-description">Write a Description</label>
					    <textarea class="form-control" rows="6" id="item-description" data-ng-model="vm.newItem.description" placeholder="Write a detailed description of the item, including details about its qualitative condition..." required></textarea>
					  </div>
				</div>
				<div class="col-md-5 col-md-offset-1">
					<img data-ng-src="{{vm.newItem.image}}" class="img-center img-responsive img-circle img-preview">
				</div>
			</div>
			  <div class="form-group">
			    <label for="item-pic">Link an Image</label>
			    <input type="text" class="form-control" id="item-pic" data-ng-model="vm.newItem.image" required>
			  </div>
			  <button type="submit" class="btn btn-success btn-lg btn-block" data-ng-class="vm.submitDisabled ? 'disabled' : ''" data-ng-click="vm.submitItem()">Submit <span class="fa" data-ng-class="vm.submitDisabled ? 'fa-cog fa-spin' : 'fa-check'"></span></button>
			</form>
		</div>
	</div>
	
</div>